<?xml version="1.0" encoding="UTF-8"?>
<server>
		<!-- 逻辑网关配置-->
		<property name="cmdIp">192.168.6.2</property>
		<property name="cmdPort">9003</property>
		<property name="crossbowDataPort">10000</property>
		<property name="listenPort">10001</property>
		<property name="dataPort">10002</property>
		
		<property name="saIp">192.168.6.38</property>
		<property name="saPort">9094</property>
		
		<property name="commandHandlerNum">1</property>
		<property name="dataHandlerNum">1</property>
		
		<property name="statuschecker">cn.edu.usst.chukwax.datacollection.logicsng.crossbow.CrossBowStatusChecker</property>
		<property name="service">cn.edu.usst.chukwax.datacollection.logicsng.crossbow.CrossbowService</property>
		
		<property name="location">usst_pmcs</property>
		<property name="localIp">192.168.6.38</property>
		
		<!-- 数据库配置 -->
		<property name="driver">com.mysql.jdbc.Driver</property>
		<property name="dataBaseUrl">jdbc:mysql://localhost:3306/SCSng?useUnicode=true&amp;characterEncoding=utf8</property>
		<property name="user">root</property>
		<property name="password"></property>
		<property name="controllerTable">SCSensorController</property>
		<property name="sensorTable">SCSensor</property>
		<property name="sensorDataTable">SCSensingData</property>	
</server>	
